
<div id="contentwrapper" class="contentwrapper lineheight21">
  
  <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <thead>
      <tr>
        <th class="head1"  colspan="2">*用户相关</th>
      </tr>
    </thead>
    <tbody>
     
      <tr>
        <td>今日新增用户</td>
        <td>{$user_count}个</td>
        <td>用户总数</td>
        <td>{$user_count_all}个</td>
        <td>自然注册人数</td>
        <td>{$user_nature}个</td>
      </tr>
      <tr>
        <td>广告注册人数</td>
        <td>个</td>
        <td>邀请注册人数</td>
        <td>{$user_invite}个</td>
        <td>分享注册人数</td>
        <td>{$user_share}个</td>
      </tr>
      <tr>
        <td>新增留存率(1-2-3-4-5-6-7-15-30-60-90日留存率)</td>
        <br/>
        <td></td>
      </tr>
      <tr>
        <td>活跃留存率(1-2-3-4-5-6-7-15-30-60-90日留存率)</td>
        <td></td>
      </tr>
      <tr>
        <td>在线时长(1-5-10-30-60-120min的在线时长分布)</td>
        <td></td>
      </tr>
      <tr>
        <td>用户在线时间段分布(2个小时为时间段进行划分统计)</td>
        <td></td>
      </tr>
    
    </tbody>
  </table>
  <div class="contentwrapper lineheight21"></div>

  <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <thead>
      <tr>
        <th class="head1" colspan="2">*游戏平台(娱乐赛)</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>分享点击人数</td>
        <td>{$fun_share_people}人</td>
        <td>分享点击次数</td>
        <td>{$fun_share_num}次</td>
      </tr>
     
      <tr>
        <td>浏览广告人数</td>
        <td>{$fun_advert_people}人</td>
        <td>浏览广告次数</td>
        <td>{$fun_advert_num}次</td>
      </tr>
      <tr>

      <tr>
        <td>开始游戏人数</td>
        <td></td>
        <td>开始游戏次数(开局1次，2次，3次，5次，10次，20次，30次，50次，50次以上的人数占比)</td>
        <td></td>
      </tr>
      <tr>
      <tr>
        <td>对局房间总数</td>
        <td>{$fun_game_count}个</td>
        <td>对局总人数</td>
        <td>{$fun_people_count}人</td>
      </tr>
    </tbody>
  </table>
  <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <thead>
      <tr>
        <th class="head1" colspan="2">*游戏平台(竞技赛)</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>浏览广告人数</td>
        <td>{$play_advert_people}人</td>
        <td>浏览广告次数</td>
        <td>{$play_advert_num}次</td>
      </tr>
      <tr>
        <td>10气泡数对局房间数</td>
        <td>{$ten_game_count}个</td>
        <td>10气泡数对局房间人数</td>
        <td>{$ten_people_count}人</td>
      </tr>
      <tr>
        <td>50气泡数对局房间数</td>
        <td>{$fifty_game_count}个</td>
        <td>50气泡数对局房间人数</td>
        <td>{$fifty_people_count}人</td>
      </tr>
      <tr>
        <td>100气泡数对局房间数</td>
        <td>{$hundred_game_count}个</td>
        <td>100气泡数对局房间人数</td>
        <td>{$hundred_people_count}人</td>
      </tr>
    </tbody>
  </table>
  <div class="contentwrapper lineheight21"></div>

 
</div>

<!--contentwrapper