<!--pageheader-->
<div id="contentwrapper" class="contentwrapper lineheight21">
  
  <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <thead>
      <tr>
        <th class="head1">名称</th>
        <th class="head1">内容</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>今日用户统计</td>
        <td>{$user_count}个</td>
      </tr>
      <tr>
        <td>用户总数</td>
        <td>{$user_count_all}个</td>
      </tr>
      <tr>
        <td>今日充值</td>
        <td>{$pay_total}元</td>
      </tr>
      <tr>
        <td>充值总数</td>
        <td>{$pay_total_all}元</td>
      </tr>
      <tr>
        <td>今日提现</td>
        <td>{$out_total}元</td>
      </tr>
      <tr>
        <td>提现总数</td>
        <td>{$out_total_all}元</td>
      </tr>
    </tbody>
  </table>
  <div class="contentwrapper lineheight21"></div>

  <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <thead>
      <tr>
        <th class="head1" colspan="2">今日盈亏</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>用户手头余额</td>
        <td>{$user_in}</td>
      </tr>
      <tr>
        <td>今日收入</td>
        <td>{$today_in}</td>
      </tr>
      <tr>
        <td>用户下单金额</td>
        <td>{$xiadan}</td>
      </tr>
      <tr>
        <td>用户总收益</td>
        <td>中奖:{$ying} 佣金:{$today_win_ext} 合计:{$ying + $today_win_ext}</td>
      </tr>
      <tr>
        <td>今日支出</td>
        <td>{$today_out}</td>
      </tr>
      <tr>
        <td>今日净利润</td>
        <td>{$today_in-$today_out}</td>
      </tr>
      <tr>
        <td>利润率</td>
        <td>
          <php>echo sprintf("%.2f",(($xiadan - $ying - $today_win_ext)/$xiadan)) * 100</php>%</td>
      </tr>
    </tbody>
  </table>
  <div class="contentwrapper lineheight21"></div>

  <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <thead>
      <tr>
        <th class="head1" colspan="2">昨日盈亏</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>昨日收入</td>
        <td>{$zuo_in}</td>
      </tr>
      <tr>
        <td>用户下单金额</td>
        <td>{$zuo_xiadan}</td>
      </tr>
      <tr>
        <td>用户总收益</td>
        <td>中奖:{$zuo_ying} 佣金:{$zuo_win_ext} 合计:{$zuo_ying + $zuo_win_ext}</td>
      </tr>
      <tr>
        <td>昨日支出</td>
        <td>{$zuo_out}</td>
        <tr>
          <td>昨日净利润</td>
          <td>{$zuo_xiadan - $zuo_ying - $zuo_win_ext}</td>
        </tr>
        <tr>
          <td>利润率</td>
          <td>
            <php>echo sprintf("%.2f",(($zuo_xiadan - $zuo_ying - $zuo_win_ext)/$zuo_xiadan)) * 100</php>%</td>
        </tr>
    </tbody>
  </table>

  <div class="contentwrapper lineheight21"></div>

  <!-- <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <thead>
      <tr>
        <th class="head1" colspan="2">前日盈亏</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>前日收入</td>
        <td>{$qian_in}</td>
      </tr>
      <tr>
        <td>用户下单金额</td>
        <td>{$qian_xiadan}</td>
      </tr>
      <tr>
        <td>用户总收益</td>
        <td>中奖:{$qian_ying} 佣金:{$qian_win_ext} 合计:{$qian_ying + $qian_win_ext}</td>
      </tr>
      <tr>
        <td>前日支出</td>
        <td>{$qian_out}</td>
        <tr>
          <td>前日净利润</td>
          <td>{$qian_xiadan - $qian_ying - $qian_win_ext}</td>
        </tr>
        <tr>
          <td>利润率</td>
          <td>
            <php>echo sprintf("%.2f",(($qian_xiadan - $qian_ying - $qian_win_ext)/$qian_xiadan)) * 100</php>%</td>
        </tr>
    </tbody>
  </table> -->

  <!-- <div class="contentwrapper lineheight21"></div>
  <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <thead>
      <tr>
        <th class="head1" colspan="2">本月盈亏</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>本月收入</td>
        <td>{$month_in}</td>
      </tr>
      <tr>
        <td>用户下单金额</td>
  
        <td>{$yue_xiadan}</td>
      </tr>
  
      <tr>
        <td>用户总收益</td>
        <td>中奖:{$yue_ying} 佣金:{$month_win_ext} 合计:{$yue_ying + $month_win_ext}</td>
      </tr>
      <tr>
        <td>本月支出</td>
        <td>{$month_out}</td>
      </tr>
      <tr>
        <td>本月净利润</td>
        <td>{$yue_xiadan- $yue_ying - $month_win_ext} </td>
      </tr>
      <tr>
        <td>利润率</td>
        <td>
          <php>echo sprintf("%.2f",($yue_xiadan- $yue_ying - $month_win_ext)/$yue_xiadan) * 100</php>%</td>
      </tr>
    </tbody>
  </table> -->

  <div class="contentwrapper lineheight21"></div>
  <table cellpadding="0" cellspacing="0" border="0" class="stdtable">
    <thead>
      <tr>
        <th class="head1" colspan="2">总盈亏</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>总收入</td>
        <td>{$all_in}</td>
      </tr>
      <td>用户下单金额</td>

      <td>{$all_xiadan}</td>
      </tr>
      <tr>
        <td>用户总收益</td>
        <td>中奖:{$all_ying} 佣金:{$all_win_ext} 合计:{$all_ying + $all_win_ext}</td>
      </tr>
      <tr>
        <td>总支出</td>
        <td>{$all_out}</td>
      </tr>
      <tr>
        <td>净利润</td>
        <td>{$all_in - $all_ying - $all_win_ext} </td>
      </tr>
      <tr>
        <td>利润率</td>
        <td>
          <php>echo sprintf("%.2f",($all_in - $all_ying - $all_win_ext)/$all_in) * 100</php>%</td>
      </tr>
    </tbody>
  </table>
</div>
<!--contentwrapper-->