<div class="pageheader notab"><h1 class="pagetitle">会员管理</h1></div><!--pageheader-->
<div id="contentwrapper" class="contentwrapper lineheight21">
    <div class="tableoptions">
        <a href="{:U('User/excelUser')}">导出用户信息</a> | 
        <form method="post"> 
            <!-- 手机: <input type="text" name="mobile" value="{$_GET['mobile']}" class="smallinput" style="width:100px;"/> 
            姓名: <input type="text" name="name" value="{$_GET['name']}" class="smallinput" style="width:100px;"/>  -->
            用户昵称: <input type="text" name="nickname" value="{$_GET['nickname']}" class="smallinput" style="width:100px;"/>
           
            <br />
            余额排序: 
            <select name="money" style="width: 120px; min-width: 120px;">
                <option value="">请选择</option>
                <option value="asc" <if condition="$_GET['money'] eq asc"> selected</if> >正序</option>
                <option value="desc" <if condition="$_GET['money'] eq desc"> selected</if> >倒序</option>
            </select>

            活跃值: 
            <select name="active_point" style="width: 120px; min-width: 120px;">
                <option value="">请选择</option>
                <option value="asc" <if condition="$_GET['active_point'] eq asc"> selected</if> >正序</option>
                <option value="desc" <if condition="$_GET['active_point'] eq desc"> selected</if> >倒序</option>
            </select>

            段位分: 
            <select name="rank" style="width: 120px; min-width: 120px;">
                <option value="">请选择</option>
                <option value="asc" <if condition="$_GET['rank'] eq asc"> selected</if> >正序</option>
                <option value="desc" <if condition="$_GET['rank'] eq desc"> selected</if> >倒序</option>
            </select>
            <input type="submit" value="查找"/>
        </form>
    </div><!--tableoptions-->

    <form action="" method="post">
        <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
            <thead>
                <tr>
                    <th class="head1"><input type="checkbox" class="check_all"></th>
                    <th class="head1">编号</th>
                    <th class="head1">昵称</th>
                    <th class="head1">性别</th>
                    <th class="head0">所在俱乐部</th>
                   
                    <th class="head0">上级ID</th>
                    <th class="head0">余额</th>
                    <th class="head0">活跃值</th>
                    <th class="head0">段位分</th>
                    <th class="head0">娱乐赛场次</th>
                    <th class="head0">竞技赛场次</th>
                    <th class="head0">浏览广告次数</th>
                    <th class="head0">分享次数</th>
                    <th class="head0">注册日期</th>
                    <th class="head0">操作</th>
                </tr>
            </thead>

            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
                    <td>{$vo.id}</td>                        
                    <td>{$vo.nickname}</td>
                    <td>
                        <if condition="$vo['sex'] eq 0">未知</if>
                        <if condition="$vo['sex'] eq 1">男</if>
                        <if condition="$vo['sex'] eq 2">女</if>
                    </td>
                    <td>{$vo.club_id}</td>
                    <td>{$vo.parent1} -> {$vo.parent2} -> {$vo.parent3}</td>
                    <td>{$vo.money}</td>
                    <td>{$vo.active_point}</td>
                    <td>{$vo.rank}</td>
                    <td>{$vo.fun_game}</td>
                    <td>{$vo.play_game}</td>
                    <td>{$vo.advert}</td>
                    <td>{$vo.share}</td>
                    <td>{$vo.join_time}</td>
                    <!-- <td><a href="{:U('Finance/expense?user_id='.$vo['id'])}"> {$vo.expense} </a></td> -->
                    <!-- <td><a href="{:U('Finance/withdraw?user_id='.$vo['id'])}"> {$vo.withdraw} </a></td> -->
                    <td class="center">
                        <!-- <a href="{:U('product/buy', 'uid='.$vo['id'])}">历史战绩</a> | 
                        <a href="{:U('finance/payorder', 'userid='.$vo['id'])}">充值记录</a> | 
                        <a href="{:U('add_agent', 'id='.$vo['id'])}">设为代理商</a> |  -->
                        <!-- <a href="{:U('edit', 'id='.$vo['id'])}">修改</a> |  -->
                        <a href="{:U('del', 'id='.$vo['id'])}" onclick="return confirm('你确实要删除这个会员吗？')">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <!-- <div style="margin:30px;">
            <input value="拉黑会员" type="submit" name="tongdao">&nbsp; &nbsp;&nbsp; 
            <input value="取消黑名单" type="submit" name="tongdao">&nbsp; &nbsp;&nbsp;            
        </div> -->
    </form>
    <div class="dataTables_paginate paging_full_numbers" id="dyntable2_paginate"> {$page|default="<p style='text-align:center'>暂时没有数据</p>"}
    </div>
</div><!--contentwrapper-->

<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">        
$(function () {
    $(".check_all").click(function () {
        var checked = $(this).get(0).checked;
        $("input[type=checkbox]").attr("checked", checked);
    });
});       
</script>