	<div class="tableoptions">
		<h1 class="pagetitle">调整新旧系统会员</h1>
	</div>
	<!--pageheader-->

	<!-- 	<script src="__PUBLIC__/plugins/My97DatePicker/WdatePicker.js"></script> -->

	<div id="contentwrapper" class="contentwrapper lineheight21">
	<div class="pageheader notab">
		<form class="stdform stdform2" method="post" action="">
			<p>
				<label>旧用户ID</label>
				<span class="field"><input type="text" name="oldid" id="oldid" value="" class="smallinput" /></span>
			</p>

			<p>
				<label>新用户ID</label>
				<span class="field"><input type="text" name="newid" id="newid" value="" class="smallinput" /></span>
			</p>

			<p class="stdformbutton">
				<button class="submit radius2">提交</button>
				<input type="reset" class="reset radius2" value="重置" />
			</p>
		</form>

	</div>

</div>
<!--contentwrapper-->