<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black"><title>
闲来猜猜乐
</title><link type="text/css" rel="stylesheet" href="/Public/css/default2017.css?20170115">
<style type="text/css">
  .g-showtime{
    color:#cb1a48;
  }
  .openLottery{
    position: fixed;
    top: 100px;
  }
</style>
</head>
<body>

</body>
<script type="text/javascript" src="/Public/js/jquery-1.7.2-min.js"></script>
<script type="text/javascript">

  var wait= 60;
  time();
  function time() {
    if (wait == 0) {

    } else {
      $.post('/kpan.php?m=&c=Job&a=kaiqq',{},function(data){
     
      },"json");
      setTimeout(function() {
        time();
      },
      30000);
    }
  }

</script>
</html>