        <div class="pageheader notab">
            <h1 class="pagetitle">编辑会员信息</h1>
        </div><!--pageheader-->

        <script src="__PUBLIC__/plugins/My97DatePicker/WdatePicker.js"></script>
        <div id="contentwrapper" class="contentwrapper lineheight21">       
            <form class="stdform stdform2" method="post">
				<p>
					<label>ID</label>
					<span class="field"><input type="text" name="id" id="id" value="{$info.id}" disabled class="smallinput" /></span>
				</p>
			
				<p>
					<label>OPENID</label>
					<span class="field"><input type="text" name="openid" id="openid" value="{$info.openid}" disabled class="smallinput" /></span>
				</p>

				<p>
					<label>姓名</label>
					<span class="field"><input type="text" name="name" id="name" value="{$info.name}" class="smallinput" /></span>
				</p>

				<p>
					<label>手机</label>
					<span class="field"><input type="text" name="login_name" id="login_name" value="{$info.login_name}" class="smallinput" /></span>
				</p>

				<p>
					<label>地址</label>
					<span class="field"><input type="text" name="addr" id="addr" value="{$info.addr}" class="smallinput" /></span>
				</p>

				<p>
					<label>上级</label>
					<span class="field"><input type="text" name="parent1" id="parent1" value="{$info.parent1}" class="smallinput" /></span>
				</p>

				<p>
					<label>注册时间</label>
					<span class="field">{$info.create_time|date="Y-m-d H:i:s",###}</span>
				</p>

				<p class="stdformbutton">
					<button class="submit radius2">提交</button>
					<input type="reset" class="reset radius2" value="重置" />
				</p>

			</form>
        </div><!--contentwrapper-->    