
<!DOCTYPE html><html lang="zh-CN" style="font-size: 122.812px;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="dns-prefetch" href="https://static.gtimg.com/">
		<title>幸福·大转盘</title>
	
	</head>
	<body style="text-align: center;">
		
		<img src="/Public/qrcode/1706/22/13_dragondean.jpg" style="max-width: 100%;" />
	</body></html>