
<!DOCTYPE html><html lang="zh" class="pixel-ratio-2 retina android android-6 android-6-0-1"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Cache-Control" content="no-transform">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>欢乐俱乐部</title>	
    <link rel="stylesheet" href="/res/hong/web.min.css?v=3640">    
</head>
<body class="ted page-bg">
    <div class="bg-box">
        <img class="bg-content" src="/res/hong/index-header.png">
        <div class="bg-wrapper"></div>
    </div>

    <p class="service-title" style="font-size:14px;">分享到朋友圈/微信群,群发好友,每天可赚100金币</p>


    <div class="service-qrcode">
        <p class="desc">长按保存推广二维码</p>
        <img class="image" src="{$img}?<?php echo time();?>">
    </div>

    <div class="rule-box invite">
        <span class="rule-btn">百万金币等你拿</span>
    </div>

    <!-- 邀请有奖 -->
    <div class="cool-dialog-ted dialog-invite" style="display:none;">
        <img class="dialog-bg" src="">
        <div class="dialog-content">
            <h3>邀请好友，轻松赚豆</h3>
            <div class="simple">1.好友每玩1把，你就获得7%～20%的豆。</div>
            <div class="simple">2.轻松日进十万金豆的方式：
                <dl>
                    <li>分享二维码到朋友圈。</li>
                    <li>分享二维码到所有微信群。</li>
                    <li>群发二维码给好友，让好友帮忙转发的朋友圈。</li>
                    <li>可以给好友发个小红包，让他们去分享。</li>
                </dl>
            </div>
            <a id="dialog-invite-btn" style="margin-top: 15px;" class="luck-btn" href="http://i.33dtoast.cn/ted/qrcode">邀请好友</a>
        </div>
        <img class="close-btn" src="">
    </div>

    
    <div style="height: 49px;"></div>
    <div class="weui_tabbar">
       <a id="menu-index-btn" href="/index.php?m=&c=index&a=hongbao" class="weui_tabbar_item ">
            <p class="weui_tabbar_label">红包</p>
        </a>
        <a id="menu-pay-btn" href="/index.php?m=&c=index&a=hongti" class="weui_tabbar_item ">
            <p class="weui_tabbar_label">兑换</p>
        </a>
        <a id="menu-records-btn" href="/index.php?m=&c=index&a=hongjilu" class="weui_tabbar_item ">
            <p class="weui_tabbar_label ">记录</p>
        </a>
        <a id="menu-qrcode-btn" href="/index.php?m=&c=index&a=hongcode" class="weui_tabbar_item weui_bar_item_on">
            <p class="weui_tabbar_label">赚钱</p>
        </a>
        <a id="menu-game-btn" href="/index.php?m=&c=index&a=dating" class="weui_tabbar_item">
            <p class="weui_tabbar_label">游乐城</p>
        </a>
    </div>

    
        <!--[if lt IE 9]>
    <script src="ie8.min.js"></script>
    <![endif]-->    
<div style="display:none;">
	
</div>

</body></html>
