
<!DOCTYPE html><html lang="zh-CN";><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="x5-orientation" content="portrait">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="dns-prefetch" href="https://static.gtimg.com/">
		 <script type="text/javascript" src="/Public/js/jquery-1.7.2-min.js"></script>
		<title>幸福·大转盘</title>
		<link rel="stylesheet" type="text/css" href="/res/zhuan/mystyle.css?54">		
		<style type="text/css">
 			 @media only screen and (min-width:320px) and (orientation:portrait){
    html{font-size:120px;}
              @media only screen and (max-width:320px) and (orientation:portrait){
    html{font-size:95px;｝
    	
		</style>
	</head>
	<body>

		<header class="l-hd">
			 <include file="include/zhuantop" />            
			<div class="toast dialog cpm-hide">
					<div class="shade"></div>
					<div class="naChanceMsg_1" style="min-hight:1rem;">
						<!--<div class="publicClose"></div>-->
						<p class="pop_context"></p>
						
						<div class="btn_stype_1">
							<p class="goDraw" id="sureDraw">确认
						</p></div>
						<div class="btn_stype_2 cpm-hide">
							<p class="goDraw  sureDraw_left">确认
								
							</p><p class="goDraw sureDraw_right">取消
						</p></div>
					</div>
			</div>
			<div class="toast toast_tk cpm-hide">
					<div class="shade"></div>
					<div class="naChanceMsg_tk" style="min-hight:1rem;">
						<!--<div class="publicClose"></div>-->
						<p class="pop_context"></p>
						
						<div class="btn_stype_1_tk">
							<p class="goDraw tk">确认
						</p></div>
					</div>
			</div>				
		</header>
		<div id="ui-view"><div id="etDiv" class="all-contents">
	<div class="wrap_1">
		<!--<div class="follow-us toast">-->
			<div class="naChanceMsg" style="text-align: center;">
				<img src="/Public/images/kefu.jpg" style="height: auto;width: 80%;text-align: center;">
				<!-- <div class="naChanceMsg_txt">
					<p class="p_kf">客服</p>
					<p class="p_top">在线客服竭诚为您服务</p>
					<p class="p_time">客服在线时间  0:00-24:00</p>
				</div> -->
			</div>
		<!--</div>-->
	</div>
</div>
		<div class="footer">
				<ul class="footer_ul">
					<a href="/kpan.php?m=&c=index&a=index">
                    <li class="footer_li footer_li_1" data-type="pay">
                       <span></span><p>抽奖</p>  
                    </li>
                    </a>
                    <a href="/kpan.php?m=&c=index&a=tixian">
                    <li class="footer_li footer_li_2  ">
                     <span></span><p>提现</p>      
                    </li>
                    </a>
                    <a href="/kpan.php?m=&c=index&a=usercode">
                    <li class="footer_li footer_li_3">
                      <span></span><p>代理赚钱</p>
                    </li>
                    </a>
                    <a href="/kpan.php?m=&c=index&a=daili">
                    <li class="footer_li footer_li_4 ">
                      <span></span><p>佣金</p>
                    </li>
                    </a>
                    <a href="/kpan.php?m=&c=index&a=kefu">
                    <li class="footer_li footer_li_5 footer_li_active" style="cursor:pointer">
                      <span></span><p>客服</p>
                    </li>
                    </a>
				</ul>
</div>
        <include file="include/commonjs" />
</body></html>
