
<!DOCTYPE html><html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="x5-orientation" content="portrait">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <title>幸福·大转盘</title>
        <link rel="stylesheet" type="text/css" href="/res/zhuan/mystyle.css?54">
        <style type="text/css">
            @media screen and (max-width: 395px) { 
            .tab_list{padding: 0}
            .tab2 .tab_item{
                margin-right: 0;
            }
            } 
             @media only screen and (min-width:320px) and (orientation:portrait){
    html{font-size:120px;}
             @media only screen and (max-width:320px) and (orientation:portrait){
    html{font-size:95px;}
        </style>
</head>

<body style="width: 100%;height: 100%;background-color: #a54a37">
<!-- <div class="container4" style="width: 100%;height: 100%;text-align: center;">
 <img src="{$img}" width="90" style="margin-top: 110px;">
</div> -->
 <include file="include/zhuantop" />
 <div style="width: 100%;height: 100%">
 <img src="{$img}?<?php echo time();?>" width="100%" height="100%" style="max-width:640px;max-height: 100%;margin-top: 6%;">
 </div>
<div class="footer">
                <ul class="footer_ul">
                    <a href="/">
                    <li class="footer_li footer_li_1 " data-type="pay">
                       <span></span><p>抽奖</p>  
                    </li>
                    </a>
                    <a href="/index.php?m=&c=index&a=tixian">
                    <li class="footer_li footer_li_2">
                     <span></span><p>提现</p>      
                    </li>
                    </a>
                    <a href="/index.php?m=&c=index&a=usercode">
                    <li class="footer_li footer_li_3 footer_li_active">
                      <span></span><p>代理赚钱</p>
                    </li>
                    </a>
                    <a href="/index.php?m=&c=index&a=daili">
                    <li class="footer_li footer_li_4">
                      <span></span><p>佣金</p>
                    </li>
                    </a>
                    <a href="/index.php?m=&c=index&a=kefu">
                    <li class="footer_li footer_li_5" style="cursor:pointer">
                      <span></span><p>客服</p>
                    </li>
                    </a>
                </ul>
    </div>
</body>
  <include file="include/commonjs" />
</html>